src/genro_bag/builders/schemas/html5/block.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <define name="p.elem">
    <a:documentation> RELAX NG Schema for HTML 5: Basic Prose Markup                    #
Paragraph-Level
Paragraph: &lt;p&gt;</a:documentation>
    <element>
      <name ns="">p</name>
      <interleave>
        <ref name="p.inner"/>
        <ref name="p.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="p.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="p.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="p.elem"/>
  </define>
  <define name="hr.elem">
    <a:documentation>Hint Transition: &lt;hr&gt;</a:documentation>
    <element>
      <name ns="">hr</name>
      <interleave>
        <ref name="hr.inner"/>
        <ref name="hr.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="hr.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.separator"/>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.doc-pagebreak"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="hr.inner">
    <empty/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="hr.elem"/>
  </define>
  <define name="pre.elem">
    <a:documentation>Preformatting Blocks
Preformatted Text: &lt;pre&gt;</a:documentation>
    <element>
      <name ns="">pre</name>
      <interleave>
        <ref name="pre.inner"/>
        <ref name="pre.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="pre.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="pre.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="pre.elem"/>
  </define>
  <define name="ul.elem">
    <a:documentation>Simple Lists
Unordered List: &lt;ul&gt;</a:documentation>
    <element>
      <name ns="">ul</name>
      <interleave>
        <ref name="ul.inner"/>
        <ref name="ul.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="ul.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <choice>
            <ref name="common.attrs.aria.role.group"/>
            <ref name="common.attrs.aria.role.list"/>
            <ref name="common.attrs.aria.role.listbox"/>
            <ref name="common.attrs.aria.role.menu"/>
            <ref name="common.attrs.aria.role.menubar"/>
            <ref name="common.attrs.aria.role.radiogroup"/>
            <ref name="common.attrs.aria.role.tablist"/>
            <ref name="common.attrs.aria.role.toolbar"/>
            <ref name="common.attrs.aria.role.tree"/>
            <ref name="common.attrs.aria.role.presentation"/>
          </choice>
          <ref name="common.attrs.aria.implicit.list"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="ul.inner">
    <interleave>
      <zeroOrMore>
        <ref name="li.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="ul.elem"/>
  </define>
  <define name="li.elem">
    <a:documentation>Unordered List Item: &lt;li&gt;</a:documentation>
    <element>
      <name ns="">li</name>
      <interleave>
        <ref name="li.inner"/>
        <ref name="li.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="li.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.listitem"/>
          <optional>
            <ref name="common.attrs.aria"/>
          </optional>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="li.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="ol.elem">
    <a:documentation>Ordered List: &lt;ol&gt;</a:documentation>
    <element>
      <name ns="">ol</name>
      <interleave>
        <ref name="ol.inner"/>
        <ref name="ol.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="ol.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="ol.attrs.start"/>
      </optional>
      <optional>
        <ref name="ol.attrs.reversed"/>
      </optional>
      <optional>
        <ref name="ol.attrs.type"/>
      </optional>
      <optional>
        <choice>
          <choice>
            <ref name="common.attrs.aria.role.group"/>
            <ref name="common.attrs.aria.role.list"/>
            <ref name="common.attrs.aria.role.listbox"/>
            <ref name="common.attrs.aria.role.menu"/>
            <ref name="common.attrs.aria.role.menubar"/>
            <ref name="common.attrs.aria.role.radiogroup"/>
            <ref name="common.attrs.aria.role.tablist"/>
            <ref name="common.attrs.aria.role.toolbar"/>
            <ref name="common.attrs.aria.role.tree"/>
            <ref name="common.attrs.aria.role.presentation"/>
          </choice>
          <ref name="common.attrs.aria.implicit.list"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="ol.attrs.start">
    <attribute>
      <name ns="">start</name>
      <ref name="common.data.integer"/>
    </attribute>
  </define>
  <define name="ol.attrs.reversed">
    <attribute>
      <name ns="">reversed</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">reversed</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="ol.attrs.type">
    <attribute>
      <name ns="">type</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">1</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">a</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">A</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">i</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">I</value>
      </choice>
    </attribute>
  </define>
  <define name="ol.inner">
    <interleave>
      <zeroOrMore>
        <ref name="oli.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="ol.elem"/>
  </define>
  <define name="oli.elem">
    <a:documentation>Ordered List Item: &lt;li&gt;</a:documentation>
    <element>
      <name ns="">li</name>
      <interleave>
        <ref name="oli.inner"/>
        <ref name="oli.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="oli.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="oli.attrs.value"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.listitem"/>
          <ref name="common.attrs.aria.role.listitem"/>
          <ref name="common.attrs.aria.role.menuitem"/>
          <ref name="common.attrs.aria.role.menuitemcheckbox"/>
          <ref name="common.attrs.aria.role.menuitemradio"/>
          <ref name="common.attrs.aria.role.option"/>
          <ref name="common.attrs.aria.role.radio"/>
          <ref name="common.attrs.aria.role.tab"/>
          <ref name="common.attrs.aria.role.treeitem"/>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.doc-biblioentry"/>
          <ref name="common.attrs.aria.role.doc-endnote"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="oli.attrs.value">
    <attribute>
      <name ns="">value</name>
      <ref name="common.data.integer"/>
    </attribute>
  </define>
  <define name="oli.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dl.elem">
    <a:documentation>Definition Lists
Definition List: &lt;dl&gt;</a:documentation>
    <element>
      <name ns="">dl</name>
      <interleave>
        <ref name="dl.inner"/>
        <ref name="dl.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dl.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.list"/>
          <ref name="common.attrs.aria.role.group"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="dl.inner">
    <choice>
      <zeroOrMore>
        <group>
          <oneOrMore>
            <interleave>
              <ref name="dt.elem"/>
              <zeroOrMore>
                <ref name="common.elem.script-supporting"/>
              </zeroOrMore>
            </interleave>
          </oneOrMore>
          <oneOrMore>
            <interleave>
              <ref name="dd.elem"/>
              <zeroOrMore>
                <ref name="common.elem.script-supporting"/>
              </zeroOrMore>
            </interleave>
          </oneOrMore>
        </group>
      </zeroOrMore>
      <oneOrMore>
        <interleave>
          <ref name="dldiv.elem"/>
          <zeroOrMore>
            <ref name="common.elem.script-supporting"/>
          </zeroOrMore>
        </interleave>
      </oneOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="dl.elem"/>
  </define>
  <define name="dt.elem">
    <a:documentation>Definition Term: &lt;dt&gt;</a:documentation>
    <element>
      <name ns="">dt</name>
      <interleave>
        <ref name="dt.inner"/>
        <ref name="dt.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dt.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <choice>
        <ref name="common.attrs.aria.implicit.term"/>
        <ref name="common.attrs.aria.role.term"/>
        <ref name="common.attrs.aria.role.listitem"/>
      </choice>
    </interleave>
  </define>
  <define name="dt.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dd.elem">
    <a:documentation>Definition Description: &lt;dd&gt;</a:documentation>
    <element>
      <name ns="">dd</name>
      <interleave>
        <ref name="dd.inner"/>
        <ref name="dd.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dd.elem.phrasing">
    <element>
      <name ns="">dd</name>
      <interleave>
        <ref name="dd.inner.phrasing"/>
        <ref name="dd.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dd.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <choice>
        <ref name="common.attrs.aria.implicit.definition"/>
        <ref name="common.attrs.aria.role.definition"/>
      </choice>
    </interleave>
  </define>
  <define name="dd.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="dd.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="div.elem">
    <a:documentation>Miscellaneous Elements
Generic Container: &lt;div&gt;</a:documentation>
    <element>
      <name ns="">div</name>
      <interleave>
        <ref name="div.inner"/>
        <ref name="div.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="div.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="div.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="div.elem"/>
  </define>
  <define name="dldiv.elem">
    <element>
      <name ns="">div</name>
      <interleave>
        <ref name="dldiv.inner"/>
        <ref name="div.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="dldiv.inner">
    <group>
      <oneOrMore>
        <interleave>
          <ref name="dt.elem"/>
          <zeroOrMore>
            <ref name="common.elem.script-supporting"/>
          </zeroOrMore>
        </interleave>
      </oneOrMore>
      <oneOrMore>
        <interleave>
          <ref name="dd.elem"/>
          <zeroOrMore>
            <ref name="common.elem.script-supporting"/>
          </zeroOrMore>
        </interleave>
      </oneOrMore>
    </group>
  </define>
  <define name="legend.elem">
    <a:documentation>Title or Explanatory Caption: &lt;legend&gt;</a:documentation>
    <element>
      <name ns="">legend</name>
      <interleave>
        <ref name="legend.inner"/>
        <ref name="legend.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="legend.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="legend.inner">
    <interleave>
      <ref name="common.inner.phrasing"/>
      <optional>
        <ref name="h1.elem"/>
      </optional>
      <optional>
        <ref name="h2.elem"/>
      </optional>
      <optional>
        <ref name="h3.elem"/>
      </optional>
      <optional>
        <ref name="h4.elem"/>
      </optional>
      <optional>
        <ref name="h5.elem"/>
      </optional>
      <optional>
        <ref name="h6.elem"/>
      </optional>
      <optional>
        <ref name="hgroup.elem"/>
      </optional>
    </interleave>
  </define>
</grammar>