src/genro_bag/builders/schemas/html5/core-scripting.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <define name="script.elem.embedded">
    <a:documentation> RELAX NG Schema for HTML 5: Core Scripting                        #
Scripting Elements
Inline Scripts: &lt;script&gt;</a:documentation>
    <element>
      <name ns="">script</name>
      <interleave>
        <ref name="script.inner.embedded"/>
        <ref name="script.attrs.embedded"/>
      </interleave>
    </element>
  </define>
  <define name="script.attrs.embedded">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="script.attrs.type"/>
      </optional>
      <optional>
        <ref name="script.attrs.nomodule"/>
      </optional>
      <optional>
        <ref name="script.attrs.language"/>
      </optional>
      <optional>
        <ref name="script.attrs.integrity"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
      <optional>
        <ref name="referrerpolicy"/>
      </optional>
    </interleave>
  </define>
  <define name="script.elem.imported">
    <element>
      <name ns="">script</name>
      <interleave>
        <ref name="script.inner.imported"/>
        <ref name="script.attrs.imported"/>
      </interleave>
    </element>
  </define>
  <define name="script.attrs.imported">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="script.attrs.src"/>
      </optional>
      <optional>
        <ref name="script.attrs.defer"/>
      </optional>
      <optional>
        <ref name="script.attrs.async"/>
      </optional>
      <optional>
        <ref name="script.attrs.type"/>
      </optional>
      <optional>
        <ref name="script.attrs.nomodule"/>
      </optional>
      <optional>
        <ref name="script.attrs.language"/>
      </optional>
      <optional>
        <ref name="script.attrs.integrity"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
      <optional>
        <ref name="common.attrs.blocking"/>
      </optional>
      <optional>
        <ref name="common.attrs.fetchpriority"/>
      </optional>
      <optional>
        <ref name="referrerpolicy"/>
      </optional>
    </interleave>
  </define>
  <define name="script.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="script.attrs.defer">
    <attribute>
      <name ns="">defer</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">defer</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="script.attrs.async">
    <interleave>
      <attribute>
        <name ns="">async</name>
        <choice>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">async</value>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
        </choice>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="script.attrs.type">
    <attribute>
      <name ns="">type</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">module</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">importmap</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">speculationrules</value>
        <ref name="common.data.scripttype"/>
      </choice>
    </attribute>
  </define>
  <define name="script.attrs.nomodule">
    <attribute>
      <name ns="">nomodule</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">nomodule</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="script.attrs.language">
    <attribute>
      <name ns="">language</name>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="script.attrs.integrity">
    <attribute>
      <name ns="">integrity</name>
      <ref name="common.data.integrity"/>
    </attribute>
  </define>
  <define name="script.inner.embedded">
    <ref name="common.inner.anything"/>
  </define>
  <define name="script.inner.imported">
    <ref name="common.inner.anything"/>
  </define>
  <define name="script.elem">
    <choice>
      <ref name="script.elem.embedded"/>
      <ref name="script.elem.imported"/>
    </choice>
  </define>
  <define name="common.elem.metadata" combine="choice">
    <ref name="script.elem"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="script.elem"/>
  </define>
  <define name="noscript.elem.head">
    <a:documentation>Fallback Unscripted Content: &lt;noscript&gt;</a:documentation>
    <interleave>
      <element>
        <name ns="">noscript</name>
        <interleave>
          <ref name="noscript.inner.head"/>
          <ref name="noscript.attrs"/>
        </interleave>
      </element>
      <ref name="HTMLonly"/>
    </interleave>
  </define>
  <define name="noscript.inner.head">
    <zeroOrMore>
      <choice>
        <ref name="link.elem"/>
        <ref name="meta.http-equiv.default-style.elem"/>
        <ref name="meta.http-equiv.refresh.elem"/>
        <ref name="style.elem"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="noscript.elem.phrasing">
    <interleave>
      <element>
        <name ns="">noscript</name>
        <interleave>
          <ref name="noscript.inner.phrasing"/>
          <ref name="noscript.attrs"/>
        </interleave>
      </element>
      <ref name="HTMLonly"/>
    </interleave>
  </define>
  <define name="noscript.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="noscript.elem.flow">
    <interleave>
      <element>
        <name ns="">noscript</name>
        <interleave>
          <ref name="noscript.inner.flow"/>
          <ref name="noscript.attrs"/>
        </interleave>
      </element>
      <ref name="HTMLonly"/>
    </interleave>
  </define>
  <define name="noscript.inner.flow">
    <ref name="common.inner.flow"/>
  </define>
  <define name="noscript.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="common.elem.metadata" combine="choice">
    <ref name="noscript.elem.head"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="noscript.elem.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="noscript.elem.flow"/>
  </define>
  <define name="common.attrs.scripting" combine="interleave">
    <a:documentation>Event Handler Attribute Definitions</a:documentation>
    <interleave>
      <optional>
        <ref name="scripting.attr.onauxclick"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onbeforeinput"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onbeforematch"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onbeforetoggle"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onblur"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncancel"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncanplay"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncanplaythrough"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onchange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onclick"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onclose"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncommand"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncontextlost"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncontextmenu"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncontextrestored"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncopy"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncuechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oncut"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondblclick"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondrag"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragend"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragenter"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragleave"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragover"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondragstart"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondrop"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ondurationchange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onemptied"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onended"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onerror"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onfocus"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onformdata"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oninput"/>
      </optional>
      <optional>
        <ref name="scripting.attr.oninvalid"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeydown"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeypress"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onkeyup"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onload"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadeddata"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadedmetadata"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onloadstart"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmousedown"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseenter"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseleave"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmousemove"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseout"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseover"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onmouseup"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpaste"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpause"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onplay"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onplaying"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onprogress"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onratechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onreset"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onresize"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onscroll"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onscrollend"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsecuritypolicyviolation"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onseeked"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onseeking"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onselect"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onslotchange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onstalled"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsubmit"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onsuspend"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ontimeupdate"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ontoggle"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onvolumechange"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onwaiting"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onwheel"/>
      </optional>
    </interleave>
  </define>
  <define name="common.attrs.other" combine="interleave">
    <ref name="common.attrs.scripting"/>
  </define>
  <define name="scripting.attr.onauxclick">
    <attribute>
      <name ns="">onauxclick</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onbeforeinput">
    <attribute>
      <name ns="">onbeforeinput</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onbeforematch">
    <attribute>
      <name ns="">onbeforematch</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onbeforetoggle">
    <attribute>
      <name ns="">onbeforetoggle</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onblur">
    <attribute>
      <name ns="">onblur</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncancel">
    <attribute>
      <name ns="">oncancel</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncanplay">
    <attribute>
      <name ns="">oncanplay</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncanplaythrough">
    <attribute>
      <name ns="">oncanplaythrough</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onchange">
    <attribute>
      <name ns="">onchange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onclick">
    <attribute>
      <name ns="">onclick</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onclose">
    <attribute>
      <name ns="">onclose</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncommand">
    <attribute>
      <name ns="">oncommand</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncontextlost">
    <attribute>
      <name ns="">oncontextlost</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncontextmenu">
    <attribute>
      <name ns="">oncontextmenu</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncontextrestored">
    <attribute>
      <name ns="">oncontextrestored</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncopy">
    <attribute>
      <name ns="">oncopy</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncuechange">
    <attribute>
      <name ns="">oncuechange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oncut">
    <attribute>
      <name ns="">oncut</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondblclick">
    <attribute>
      <name ns="">ondblclick</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondrag">
    <attribute>
      <name ns="">ondrag</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondragend">
    <attribute>
      <name ns="">ondragend</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondragenter">
    <attribute>
      <name ns="">ondragenter</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondragleave">
    <attribute>
      <name ns="">ondragleave</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondragover">
    <attribute>
      <name ns="">ondragover</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondragstart">
    <attribute>
      <name ns="">ondragstart</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondrop">
    <attribute>
      <name ns="">ondrop</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ondurationchange">
    <attribute>
      <name ns="">ondurationchange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onemptied">
    <attribute>
      <name ns="">onemptied</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onended">
    <attribute>
      <name ns="">onended</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onerror">
    <attribute>
      <name ns="">onerror</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onfocus">
    <attribute>
      <name ns="">onfocus</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onformdata">
    <attribute>
      <name ns="">onformdata</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oninput">
    <attribute>
      <name ns="">oninput</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.oninvalid">
    <attribute>
      <name ns="">oninvalid</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onkeydown">
    <attribute>
      <name ns="">onkeydown</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onkeypress">
    <attribute>
      <name ns="">onkeypress</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onkeyup">
    <attribute>
      <name ns="">onkeyup</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onload">
    <attribute>
      <name ns="">onload</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onloadeddata">
    <attribute>
      <name ns="">onloadeddata</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onloadedmetadata">
    <attribute>
      <name ns="">onloadedmetadata</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onloadstart">
    <attribute>
      <name ns="">onloadstart</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmousedown">
    <attribute>
      <name ns="">onmousedown</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseenter">
    <attribute>
      <name ns="">onmouseenter</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseleave">
    <attribute>
      <name ns="">onmouseleave</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmousemove">
    <attribute>
      <name ns="">onmousemove</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseout">
    <attribute>
      <name ns="">onmouseout</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseover">
    <attribute>
      <name ns="">onmouseover</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onmouseup">
    <attribute>
      <name ns="">onmouseup</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpaste">
    <attribute>
      <name ns="">onpaste</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpause">
    <attribute>
      <name ns="">onpause</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onplay">
    <attribute>
      <name ns="">onplay</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onplaying">
    <attribute>
      <name ns="">onplaying</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onprogress">
    <attribute>
      <name ns="">onprogress</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onratechange">
    <attribute>
      <name ns="">onratechange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onreset">
    <attribute>
      <name ns="">onreset</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onresize">
    <attribute>
      <name ns="">onresize</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onscroll">
    <attribute>
      <name ns="">onscroll</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onscrollend">
    <attribute>
      <name ns="">onscrollend</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onsecuritypolicyviolation">
    <attribute>
      <name ns="">onsecuritypolicyviolation</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onseeked">
    <attribute>
      <name ns="">onseeked</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onseeking">
    <attribute>
      <name ns="">onseeking</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onselect">
    <attribute>
      <name ns="">onselect</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onslotchange">
    <attribute>
      <name ns="">onslotchange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onstalled">
    <attribute>
      <name ns="">onstalled</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onsubmit">
    <attribute>
      <name ns="">onsubmit</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onsuspend">
    <attribute>
      <name ns="">onsuspend</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ontimeupdate">
    <attribute>
      <name ns="">ontimeupdate</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ontoggle">
    <attribute>
      <name ns="">ontoggle</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onvolumechange">
    <attribute>
      <name ns="">onvolumechange</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onwaiting">
    <attribute>
      <name ns="">onwaiting</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onwheel">
    <attribute>
      <name ns="">onwheel</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="common.attrs.scripting" combine="interleave">
    <a:documentation>Pointer Events</a:documentation>
    <interleave>
      <optional>
        <ref name="scripting.attr.onpointerover"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerenter"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerdown"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointermove"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerrawupdate"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerup"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointercancel"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerout"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onpointerleave"/>
      </optional>
      <optional>
        <ref name="scripting.attr.ongotpointercapture"/>
      </optional>
      <optional>
        <ref name="scripting.attr.onlostpointercapture"/>
      </optional>
    </interleave>
  </define>
  <define name="scripting.attr.onpointerover">
    <attribute>
      <name ns="">onpointerover</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerenter">
    <attribute>
      <name ns="">onpointerenter</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerdown">
    <attribute>
      <name ns="">onpointerdown</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointermove">
    <attribute>
      <name ns="">onpointermove</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerrawupdate">
    <attribute>
      <name ns="">onpointerrawupdate</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerup">
    <attribute>
      <name ns="">onpointerup</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointercancel">
    <attribute>
      <name ns="">onpointercancel</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerout">
    <attribute>
      <name ns="">onpointerout</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onpointerleave">
    <attribute>
      <name ns="">onpointerleave</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.ongotpointercapture">
    <attribute>
      <name ns="">ongotpointercapture</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
  <define name="scripting.attr.onlostpointercapture">
    <attribute>
      <name ns="">onlostpointercapture</name>
      <ref name="common.data.functionbody"/>
    </attribute>
  </define>
</grammar>