src/genro_bag/builders/schemas/html5/embed.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:local="">
  <define name="shared-img.attrs">
    <a:documentation> RELAX NG Schema for HTML 5: Embedded Content                      #

Replaced Content
Images: &lt;img&gt;</a:documentation>
    <interleave>
      <ref name="common.attrs"/>
      <choice>
        <interleave>
          <ref name="img.attrs.src"/>
          <optional>
            <ref name="img.attrs.srcset"/>
          </optional>
        </interleave>
        <interleave>
          <ref name="img.attrs.srcset"/>
          <optional>
            <ref name="img.attrs.src"/>
          </optional>
        </interleave>
      </choice>
      <optional>
        <ref name="img.attrs.sizes"/>
      </optional>
      <optional>
        <ref name="img.attrs.generator-unable-to-provide-required-alt"/>
      </optional>
      <optional>
        <ref name="img.attrs.height"/>
      </optional>
      <optional>
        <ref name="img.attrs.width"/>
      </optional>
      <optional>
        <ref name="img.attrs.usemap"/>
      </optional>
      <optional>
        <ref name="img.attrs.ismap"/>
      </optional>
      <optional>
        <ref name="img.attrs.decoding"/>
      </optional>
      <optional>
        <ref name="img.attrs.loading"/>
      </optional>
      <optional>
        <ref name="common.attrs.fetchpriority"/>
      </optional>
      <optional>
        <ref name="referrerpolicy"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
    </interleave>
  </define>
  <define name="img.elem">
    <element>
      <name ns="">img</name>
      <interleave>
        <ref name="img.inner"/>
        <ref name="img.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="img.attrs">
    <interleave>
      <ref name="shared-img.attrs"/>
      <optional>
        <ref name="img.attrs.alt"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.img"/>
          <ref name="common.attrs.aria.role.button"/>
          <ref name="common.attrs.aria.role.checkbox"/>
          <ref name="common.attrs.aria.role.img"/>
          <ref name="common.attrs.aria.role.link"/>
          <ref name="common.attrs.aria.role.math"/>
          <ref name="common.attrs.aria.role.menuitem"/>
          <ref name="common.attrs.aria.role.menuitemcheckbox"/>
          <ref name="common.attrs.aria.role.menuitemradio"/>
          <ref name="common.attrs.aria.role.none"/>
          <ref name="common.attrs.aria.role.option"/>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.progressbar"/>
          <ref name="common.attrs.aria.role.radio"/>
          <ref name="common.attrs.aria.role.scrollbar"/>
          <ref name="common.attrs.aria.role.separator"/>
          <ref name="common.attrs.aria.role.slider"/>
          <ref name="common.attrs.aria.role.switch"/>
          <ref name="common.attrs.aria.role.tab"/>
          <ref name="common.attrs.aria.role.treeitem"/>
          <ref name="common.attrs.aria.role.doc-cover"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="img.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="img.attrs.srcset">
    <interleave>
      <attribute>
        <name ns="">srcset</name>
        <data type="string" datatypeLibrary=""/>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="img.attrs.sizes">
    <interleave>
      <attribute>
        <name ns="">sizes</name>
        <ref name="common.data.source.size.list"/>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="img.attrs.alt">
    <attribute>
      <name ns="">alt</name>
      <text/>
    </attribute>
  </define>
  <define name="img.attrs.generator-unable-to-provide-required-alt">
    <attribute>
      <name ns="">generator-unable-to-provide-required-alt</name>
      <value type="string" datatypeLibrary=""></value>
    </attribute>
  </define>
  <define name="img.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="img.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="img.attrs.usemap">
    <attribute>
      <name ns="">usemap</name>
      <ref name="common.data.hash-name"/>
    </attribute>
  </define>
  <define name="img.attrs.ismap">
    <attribute>
      <name ns="">ismap</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">ismap</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="img.attrs.decoding">
    <attribute>
      <name ns="">decoding</name>
      <choice>
        <value type="string" datatypeLibrary="">sync</value>
        <value type="string" datatypeLibrary="">async</value>
        <value type="string" datatypeLibrary="">auto</value>
      </choice>
    </attribute>
  </define>
  <define name="img.attrs.loading">
    <attribute>
      <name ns="">loading</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">lazy</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">eager</value>
      </choice>
    </attribute>
  </define>
  <define name="img.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="img.elem"/>
  </define>
  <define name="picture.elem">
    <a:documentation>Image with multiple sources: &lt;picture&gt;</a:documentation>
    <interleave>
      <element>
        <name ns="">picture</name>
        <interleave>
          <ref name="picture.inner"/>
          <ref name="picture.attrs"/>
        </interleave>
      </element>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="picture.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="picture.inner">
    <group>
      <interleave>
        <zeroOrMore>
          <ref name="source.picture.elem"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="common.elem.script-supporting"/>
        </zeroOrMore>
      </interleave>
      <interleave>
        <ref name="img.elem"/>
        <zeroOrMore>
          <ref name="common.elem.script-supporting"/>
        </zeroOrMore>
      </interleave>
    </group>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="picture.elem"/>
  </define>
  <define name="source.picture.elem">
    <a:documentation>Picture source: &lt;source srcset&gt;</a:documentation>
    <element>
      <name ns="">source</name>
      <interleave>
        <ref name="source.picture.inner"/>
        <ref name="source.picture.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="source.picture.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="source.picture.attrs.media"/>
      </optional>
      <ref name="source.picture.attrs.srcset"/>
      <optional>
        <ref name="source.picture.attrs.sizes"/>
      </optional>
      <optional>
        <ref name="source.picture.attrs.type"/>
      </optional>
      <optional>
        <ref name="source.picture.attrs.width"/>
      </optional>
      <optional>
        <ref name="source.picture.attrs.height"/>
      </optional>
    </interleave>
  </define>
  <define name="source.picture.attrs.media">
    <attribute>
      <name ns="">media</name>
      <ref name="common.data.mediaquery"/>
    </attribute>
  </define>
  <define name="source.picture.attrs.srcset">
    <attribute>
      <name ns="">srcset</name>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="source.picture.attrs.sizes">
    <attribute>
      <name ns="">sizes</name>
      <ref name="common.data.source.size.list"/>
    </attribute>
  </define>
  <define name="source.picture.attrs.type">
    <attribute>
      <name ns="">type</name>
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="source.picture.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="source.picture.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="source.picture.inner">
    <empty/>
  </define>
  <define name="embed.elem">
    <a:documentation>Plug-ins: &lt;embed&gt;</a:documentation>
    <element>
      <name ns="">embed</name>
      <interleave>
        <ref name="embed.inner"/>
        <ref name="embed.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="embed.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="embed.attrs.src"/>
      </optional>
      <optional>
        <ref name="embed.attrs.type"/>
      </optional>
      <optional>
        <ref name="embed.attrs.height"/>
      </optional>
      <optional>
        <ref name="embed.attrs.width"/>
      </optional>
      <zeroOrMore>
        <ref name="embed.attrs.other"/>
      </zeroOrMore>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.application"/>
          <ref name="common.attrs.aria.landmark.document"/>
          <ref name="common.attrs.aria.role.img"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="embed.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="embed.attrs.type">
    <attribute>
      <name ns="">type</name>
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="embed.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="embed.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="embed.attrs.other">
    <attribute>
      <nsName ns="">
        <except>
          <choice>
            <name ns="">src</name>
            <name ns="">type</name>
            <name ns="">height</name>
            <name ns="">width</name>
            <name ns="">id</name>
            <name ns="">is</name>
            <name ns="">slot</name>
            <name ns="">class</name>
            <name ns="">title</name>
            <name ns="">dir</name>
            <name ns="">lang</name>
            <name ns="">translate</name>
            <name ns="">style</name>
            <name ns="">tabindex</name>
            <name ns="">autofocus</name>
            <name ns="">inert</name>
            <name ns="">contenteditable</name>
            <name ns="">draggable</name>
            <name ns="">hidden</name>
            <name ns="">popover</name>
            <name ns="">inputmode</name>
            <name ns="">nonce</name>
            <name ns="">onauxclick</name>
            <name ns="">onbeforeinput</name>
            <name ns="">onbeforematch</name>
            <name ns="">onbeforetoggle</name>
            <name ns="">onblur</name>
            <name ns="">oncancel</name>
            <name ns="">oncanplay</name>
            <name ns="">oncanplaythrough</name>
            <name ns="">onchange</name>
            <name ns="">onclick</name>
            <name ns="">onclose</name>
            <name ns="">oncommand</name>
            <name ns="">oncontextlost</name>
            <name ns="">oncontextmenu</name>
            <name ns="">oncontextrestored</name>
            <name ns="">oncopy</name>
            <name ns="">oncuechange</name>
            <name ns="">oncut</name>
            <name ns="">ondblclick</name>
            <name ns="">ondrag</name>
            <name ns="">ondragend</name>
            <name ns="">ondragenter</name>
            <name ns="">ondragleave</name>
            <name ns="">ondragover</name>
            <name ns="">ondragstart</name>
            <name ns="">ondrop</name>
            <name ns="">ondurationchange</name>
            <name ns="">onemptied</name>
            <name ns="">onended</name>
            <name ns="">onerror</name>
            <name ns="">onfocus</name>
            <name ns="">onformdata</name>
            <name ns="">oninput</name>
            <name ns="">oninvalid</name>
            <name ns="">onkeydown</name>
            <name ns="">onkeypress</name>
            <name ns="">onkeyup</name>
            <name ns="">onload</name>
            <name ns="">onloadeddata</name>
            <name ns="">onloadedmetadata</name>
            <name ns="">onloadstart</name>
            <name ns="">onmousedown</name>
            <name ns="">onmouseenter</name>
            <name ns="">onmouseleave</name>
            <name ns="">onmousemove</name>
            <name ns="">onmouseout</name>
            <name ns="">onmouseover</name>
            <name ns="">onmouseup</name>
            <name ns="">onpaste</name>
            <name ns="">onpause</name>
            <name ns="">onplay</name>
            <name ns="">onplaying</name>
            <name ns="">onprogress</name>
            <name ns="">onratechange</name>
            <name ns="">onreset</name>
            <name ns="">onresize</name>
            <name ns="">onscroll</name>
            <name ns="">onscrollend</name>
            <name ns="">onsecuritypolicyviolation</name>
            <name ns="">onseeked</name>
            <name ns="">onseeking</name>
            <name ns="">onselect</name>
            <name ns="">onslotchange</name>
            <name ns="">onstalled</name>
            <name ns="">onsubmit</name>
            <name ns="">onsuspend</name>
            <name ns="">ontimeupdate</name>
            <name ns="">ontoggle</name>
            <name ns="">onvolumechange</name>
            <name ns="">onwaiting</name>
            <name ns="">onwheel</name>
            <name ns="">onpointerover</name>
            <name ns="">onpointerenter</name>
            <name ns="">onpointerdown</name>
            <name ns="">onpointermove</name>
            <name ns="">onpointerrawupdate</name>
            <name ns="">onpointerup</name>
            <name ns="">onpointercancel</name>
            <name ns="">onpointerout</name>
            <name ns="">onpointerleave</name>
            <name ns="">ongotpointercapture</name>
            <name ns="">onlostpointercapture</name>
            <name ns="">role</name>
            <name ns="">aria-activedescendant</name>
            <name ns="">aria-atomic</name>
            <name ns="">aria-braillelabel</name>
            <name ns="">aria-brailleroledescription</name>
            <name ns="">aria-busy</name>
            <name ns="">aria-controls</name>
            <name ns="">aria-current</name>
            <name ns="">aria-details</name>
            <name ns="">aria-describedby</name>
            <name ns="">aria-description</name>
            <name ns="">aria-disabled</name>
            <name ns="">aria-dropeffect</name>
            <name ns="">aria-errormessage</name>
            <name ns="">aria-expanded</name>
            <name ns="">aria-flowto</name>
            <name ns="">aria-grabbed</name>
            <name ns="">aria-haspopup</name>
            <name ns="">aria-hidden</name>
            <name ns="">aria-invalid</name>
            <name ns="">aria-keyshortcuts</name>
            <name ns="">aria-label</name>
            <name ns="">aria-labelledby</name>
            <name ns="">aria-live</name>
            <name ns="">aria-owns</name>
            <name ns="">aria-relevant</name>
            <name ns="">aria-required</name>
            <name ns="">aria-roledescription</name>
            <name ns="">spellcheck</name>
            <name ns="">autocorrect</name>
            <name ns="">writingsuggestions</name>
            <name ns="">autocapitalize</name>
            <name ns="">enterkeyhint</name>
            <name ns="">accesskey</name>
            <name ns="">itemref</name>
            <name ns="">itemprop</name>
            <name ns="">itemscope</name>
            <name ns="">itemtype</name>
            <name ns="">itemid</name>
            <name ns="">name</name>
            <name ns="">align</name>
            <name ns="">hspace</name>
            <name ns="">vspace</name>
            <name ns="">about</name>
            <name ns="">prefix</name>
            <name ns="">property</name>
            <name ns="">typeof</name>
            <name ns="">vocab</name>
            <name ns="">content</name>
            <name ns="">datatype</name>
            <name ns="">href</name>
            <name ns="">rel</name>
            <name ns="">resource</name>
            <name ns="">rev</name>
            <name ns="">inlist</name>
            <name ns="">its-loc-note</name>
            <name ns="">contextmenu</name>
            <name ns="">dropzone</name>
            <name ns="">onshow</name>
            <name ns="">headingoffset</name>
            <name ns="">headingreset</name>
            <name ns="">its-loc-note-type</name>
            <name ns="">its-loc-note-ref</name>
            <name ns="">its-term-info-ref</name>
            <name ns="">its-term</name>
            <name ns="">its-term-confidence</name>
            <name ns="">its-within-text</name>
            <name ns="">its-domain-mapping</name>
            <name ns="">its-ta-confidence</name>
            <name ns="">its-ta-class-ref</name>
            <name ns="">its-ta-ident</name>
            <name ns="">its-ta-ident-ref</name>
            <name ns="">its-ta-source</name>
            <name ns="">its-locale-filter-list</name>
            <name ns="">its-locale-filter-type</name>
            <name ns="">its-person</name>
            <name ns="">its-person-ref</name>
            <name ns="">its-org</name>
            <name ns="">its-org-ref</name>
            <name ns="">its-tool</name>
            <name ns="">its-tool-ref</name>
            <name ns="">its-rev-person</name>
            <name ns="">its-rev-person-ref</name>
            <name ns="">its-rev-org</name>
            <name ns="">its-rev-org-ref</name>
            <name ns="">its-rev-tool</name>
            <name ns="">its-rev-tool-ref</name>
            <name ns="">its-prov-ref</name>
            <name ns="">its-provenance-records-ref</name>
            <name ns="">its-loc-quality-issues-ref</name>
            <name ns="">its-loc-quality-issue-type</name>
            <name ns="">its-loc-quality-issue-comment</name>
            <name ns="">its-loc-quality-issue-severity</name>
            <name ns="">its-loc-quality-issue-profile-ref</name>
            <name ns="">its-loc-quality-issue-enabled</name>
            <name ns="">its-loc-quality-rating-score</name>
            <name ns="">its-loc-quality-rating-vote</name>
            <name ns="">its-loc-quality-rating-score-threshold</name>
            <name ns="">its-loc-quality-rating-vote-threshold</name>
            <name ns="">its-loc-quality-rating-profile-ref</name>
            <name ns="">its-mt-confidence</name>
            <name ns="">its-allowed-characters</name>
            <name ns="">its-storage-size</name>
            <name ns="">its-storage-encoding</name>
            <name ns="">its-line-break-type</name>
            <name ns="">its-annotators-ref</name>
          </choice>
        </except>
      </nsName>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="embed.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="embed.elem"/>
  </define>
  <define name="object.elem.flow">
    <a:documentation>Generic Objects: &lt;object&gt;</a:documentation>
    <element>
      <name ns="">object</name>
      <interleave>
        <ref name="object.inner.flow"/>
        <ref name="object.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="object.elem.phrasing">
    <element>
      <name ns="">object</name>
      <interleave>
        <ref name="object.inner.phrasing"/>
        <ref name="object.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="object.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="object.attrs.data"/>
      <optional>
        <ref name="object.attrs.type"/>
      </optional>
      <optional>
        <ref name="object.attrs.height"/>
      </optional>
      <optional>
        <ref name="object.attrs.width"/>
      </optional>
      <optional>
        <ref name="object.attrs.name"/>
      </optional>
      <optional>
        <ref name="common-form.attrs.form"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.application"/>
          <ref name="common.attrs.aria.landmark.document"/>
          <ref name="common.attrs.aria.role.img"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="object.attrs.data">
    <attribute>
      <name ns="">data</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="object.attrs.type">
    <attribute>
      <name ns="">type</name>
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="object.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="object.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="object.attrs.name">
    <attribute>
      <name ns="">name</name>
      <ref name="common.data.browsing-context"/>
    </attribute>
  </define>
  <define name="object.inner.flow">
    <ref name="common.inner.transparent.flow"/>
  </define>
  <define name="object.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="object.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="object.elem.phrasing"/>
  </define>
  <define name="iframe.elem">
    <a:documentation>Inline Frame: &lt;iframe&gt;</a:documentation>
    <element>
      <name ns="">iframe</name>
      <interleave>
        <ref name="iframe.inner"/>
        <ref name="iframe.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="iframe.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="iframe.attrs.src"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.srcdoc"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.name"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.width"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.height"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.loading"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.sandbox"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.allowfullscreen"/>
      </optional>
      <optional>
        <ref name="iframe.attrs.allow"/>
      </optional>
      <optional>
        <ref name="referrerpolicy"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.application"/>
          <ref name="common.attrs.aria.landmark.document"/>
          <ref name="common.attrs.aria.role.img"/>
          <ref name="common.attrs.aria.role.presentation"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="iframe.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="iframe.attrs.srcdoc">
    <attribute>
      <name ns="">srcdoc</name>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="iframe.attrs.name">
    <attribute>
      <name ns="">name</name>
      <ref name="common.data.browsing-context"/>
    </attribute>
  </define>
  <define name="iframe.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="iframe.attrs.loading">
    <attribute>
      <name ns="">loading</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">lazy</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">eager</value>
      </choice>
    </attribute>
  </define>
  <define name="iframe.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="iframe.attrs.sandbox">
    <interleave>
      <attribute>
        <name ns="">sandbox</name>
        <ref name="common.data.sandbox-allow-list"/>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="iframe.attrs.allowfullscreen">
    <interleave>
      <attribute>
        <name ns="">allowfullscreen</name>
        <choice>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">allowfullscreen</value>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
        </choice>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
  <define name="iframe.attrs.allow">
    <attribute>
      <name ns="">allow</name>
      <ref name="common.data.feature-policy"/>
    </attribute>
  </define>
  <define name="iframe.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="iframe.elem"/>
  </define>
  <define name="map.elem.flow">
    <a:documentation>
Image Maps
Map Definition: &lt;map&gt;</a:documentation>
    <element>
      <name ns="">map</name>
      <interleave>
        <ref name="map.inner.flow"/>
        <ref name="map.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="map.elem.phrasing">
    <element>
      <name ns="">map</name>
      <interleave>
        <ref name="map.inner.phrasing"/>
        <ref name="map.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="map.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="map.attrs.name"/>
    </interleave>
  </define>
  <define name="map.attrs.name">
    <attribute>
      <name ns="">name</name>
      <ref name="common.data.name"/>
    </attribute>
  </define>
  <define name="map.inner.flow">
    <ref name="common.inner.transparent.flow"/>
  </define>
  <define name="map.inner.phrasing">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="map.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="map.elem.phrasing"/>
  </define>
  <define name="area.elem">
    <a:documentation>Map Area Definition: &lt;area&gt;</a:documentation>
    <element>
      <name ns="">area</name>
      <interleave>
        <ref name="area.inner"/>
        <ref name="area.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="area.attrs">
    <interleave>
      <ref name="common.attrs.basic"/>
      <ref name="common.attrs.i18n"/>
      <ref name="common.attrs.present"/>
      <ref name="common.attrs.other"/>
      <optional>
        <ref name="aria.global"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.download"/>
      </optional>
      <optional>
        <interleave>
          <ref name="area.attrs.alt"/>
          <ref name="shared-hyperlink.attrs.href"/>
        </interleave>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.target"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.ping"/>
      </optional>
      <optional>
        <ref name="shared-hyperlink.attrs.rel"/>
      </optional>
      <optional>
        <ref name="area.attrs.shape"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.link"/>
          <ref name="common.attrs.aria.role.button"/>
          <ref name="common.attrs.aria.implicit.link"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="area.attrs.alt">
    <attribute>
      <name ns="">alt</name>
      <text/>
    </attribute>
  </define>
  <define name="area.attrs.shape">
    <choice>
      <interleave>
        <optional>
          <ref name="area.attrs.shape.rect"/>
        </optional>
        <ref name="area.attrs.coords.rect"/>
      </interleave>
      <interleave>
        <ref name="area.attrs.shape.circle"/>
        <ref name="area.attrs.coords.circle"/>
      </interleave>
      <interleave>
        <ref name="area.attrs.shape.poly"/>
        <ref name="area.attrs.coords.poly"/>
      </interleave>
      <ref name="area.attrs.shape.default"/>
    </choice>
  </define>
  <define name="area.attrs.shape.rect">
    <attribute>
      <name ns="">shape</name>
      <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">rect</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.rect">
    <attribute>
      <name ns="">coords</name>
      <data type="rectangle" datatypeLibrary="http://whattf.org/datatype-draft"/>
    </attribute>
  </define>
  <define name="area.attrs.shape.circle">
    <attribute>
      <name ns="">shape</name>
      <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">circle</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.circle">
    <attribute>
      <name ns="">coords</name>
      <data type="circle" datatypeLibrary="http://whattf.org/datatype-draft"/>
    </attribute>
  </define>
  <define name="area.attrs.shape.poly">
    <attribute>
      <name ns="">shape</name>
      <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">poly</value>
    </attribute>
  </define>
  <define name="area.attrs.coords.poly">
    <attribute>
      <name ns="">coords</name>
      <data type="polyline" datatypeLibrary="http://whattf.org/datatype-draft"/>
    </attribute>
  </define>
  <define name="area.attrs.shape.default">
    <attribute>
      <name ns="">shape</name>
      <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">default</value>
    </attribute>
  </define>
  <define name="area.inner">
    <empty/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="area.elem"/>
  </define>
  <define name="embedded.content.attrs.crossorigin">
    <a:documentation>Attributes Common to Embedded Content</a:documentation>
    <interleave>
      <attribute>
        <name ns="">crossorigin</name>
        <choice>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">anonymous</value>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">use-credentials</value>
          <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
        </choice>
      </attribute>
      <ref name="v5only"/>
    </interleave>
  </define>
</grammar>