src/genro_bag/builders/schemas/html5/html5exclusions.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         ns="http://www.w3.org/1999/xhtml"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <start>
    <a:documentation> RELAX NG Schema for (X)HTML 5: Exclusions                         #
This file is unmaintained. Please use assertions.sch instead.
Schema Framework &amp; Parameters</a:documentation>
    <ref name="normal.elem.all-inclusive"/>
  </start>
  <define name="normal.attr.anything">
    <a:documentation> Normal Element Patterns
Any attribute from any namespace</a:documentation>
    <zeroOrMore>
      <attribute>
        <anyName/>
        <text/>
      </attribute>
    </zeroOrMore>
  </define>
  <define name="normal.elem.all">
    <a:documentation>Any element from any namespace except exceptional elements,
but allowing those elements as descendants</a:documentation>
    <element>
      <anyName>
        <except>
          <name ns="http://www.w3.org/1999/xhtml">dfn</name>
        </except>
      </anyName>
      <ref name="normal.elem.all-inclusive"/>
    </element>
  </define>
  <define name="normal.elem.all-inclusive">
    <a:documentation>Any element from any namespace including exceptional elements</a:documentation>
    <choice>
      <ref name="wildcard.elem.exclude-all"/>
      <ref name="dfn.elem.exclude-self"/>
    </choice>
  </define>
  <define name="normal.elem.exclude-dfn">
    <a:documentation> Exclusion Element Patterns</a:documentation>
    <element>
      <anyName>
        <except>
          <name ns="http://www.w3.org/1999/xhtml">dfn</name>
        </except>
      </anyName>
      <ref name="normal.elem.exclude-dfn"/>
    </element>
  </define>
  <define name="dfn.elem.exclude-self">
    <element>
      <name ns="http://www.w3.org/1999/xhtml">dfn</name>
      <interleave>
        <ref name="normal.attr.anything"/>
        <ref name="normal.elem.exclude-dfn"/>
      </interleave>
    </element>
  </define>
  <define name="wildcard.elem.exclude-all">
    <notAllowed/>
  </define>
</grammar>