src/genro_bag/builders/schemas/html5/media.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <define name="media.attrs">
    <a:documentation> RELAX NG Schema for HTML 5: Advanced Embedded Content             #
Attributes Common to Media Elements</a:documentation>
    <interleave>
      <optional>
        <ref name="media.attrs.autoplay"/>
      </optional>
      <optional>
        <ref name="media.attrs.preload"/>
      </optional>
      <optional>
        <ref name="media.attrs.controls"/>
      </optional>
      <optional>
        <ref name="media.attrs.loop"/>
      </optional>
      <optional>
        <ref name="media.attrs.muted"/>
      </optional>
      <optional>
        <ref name="embedded.content.attrs.crossorigin"/>
      </optional>
    </interleave>
  </define>
  <define name="media.attrs.autoplay">
    <attribute>
      <name ns="">autoplay</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">autoplay</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.preload">
    <attribute>
      <name ns="">preload</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">none</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">metadata</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">auto</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.controls">
    <attribute>
      <name ns="">controls</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">controls</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.loop">
    <attribute>
      <name ns="">loop</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">loop</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="media.attrs.muted">
    <attribute>
      <name ns="">muted</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">muted</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="source.elem">
    <a:documentation>Source: &lt;source&gt;</a:documentation>
    <element>
      <name ns="">source</name>
      <interleave>
        <ref name="source.inner"/>
        <ref name="source.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="source.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="source.attrs.src"/>
      <optional>
        <ref name="source.attrs.type"/>
      </optional>
      <optional>
        <ref name="source.attrs.media"/>
      </optional>
    </interleave>
  </define>
  <define name="source.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="source.attrs.type">
    <attribute>
      <name ns="">type</name>
      <ref name="common.data.mimetype"/>
    </attribute>
  </define>
  <define name="source.attrs.media">
    <attribute>
      <name ns="">media</name>
      <ref name="common.data.mediaquery"/>
    </attribute>
  </define>
  <define name="source.inner">
    <empty/>
  </define>
  <define name="media.source">
    <a:documentation>Media Source</a:documentation>
    <choice>
      <ref name="media.attrs.src"/>
      <zeroOrMore>
        <ref name="source.elem"/>
      </zeroOrMore>
    </choice>
  </define>
  <define name="media.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="video.elem.flow">
    <a:documentation>Video: &lt;video&gt;</a:documentation>
    <element>
      <name ns="">video</name>
      <interleave>
        <ref name="video.inner.flow"/>
        <ref name="video.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="video.elem.phrasing">
    <element>
      <name ns="">video</name>
      <interleave>
        <ref name="video.inner.phrasing"/>
        <ref name="video.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="video.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="media.attrs"/>
      <optional>
        <ref name="video.attrs.poster"/>
      </optional>
      <optional>
        <ref name="video.attrs.height"/>
      </optional>
      <optional>
        <ref name="video.attrs.width"/>
      </optional>
      <optional>
        <ref name="video.attrs.playsinline"/>
      </optional>
      <optional>
        <ref name="common.attrs.aria.role.application"/>
      </optional>
    </interleave>
  </define>
  <define name="video.attrs.poster">
    <attribute>
      <name ns="">poster</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="video.attrs.height">
    <attribute>
      <name ns="">height</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="video.attrs.width">
    <attribute>
      <name ns="">width</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="video.attrs.playsinline">
    <attribute>
      <name ns="">playsinline</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">playsinline</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="video.inner.flow">
    <group>
      <ref name="media.source"/>
      <zeroOrMore>
        <ref name="track.elem"/>
      </zeroOrMore>
      <ref name="common.inner.transparent.flow"/>
    </group>
  </define>
  <define name="video.inner.phrasing">
    <group>
      <ref name="media.source"/>
      <zeroOrMore>
        <ref name="track.elem"/>
      </zeroOrMore>
      <ref name="common.inner.phrasing"/>
    </group>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="video.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="video.elem.phrasing"/>
  </define>
  <define name="audio.elem.flow">
    <a:documentation>Audio: &lt;audio&gt;</a:documentation>
    <element>
      <name ns="">audio</name>
      <interleave>
        <ref name="audio.inner.flow"/>
        <ref name="audio.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="audio.elem.phrasing">
    <element>
      <name ns="">audio</name>
      <interleave>
        <ref name="audio.inner.phrasing"/>
        <ref name="audio.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="audio.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="media.attrs"/>
      <optional>
        <ref name="common.attrs.aria.role.application"/>
      </optional>
    </interleave>
  </define>
  <define name="audio.inner.flow">
    <group>
      <ref name="media.source"/>
      <zeroOrMore>
        <ref name="track.elem"/>
      </zeroOrMore>
      <ref name="common.inner.transparent.flow"/>
    </group>
  </define>
  <define name="audio.inner.phrasing">
    <group>
      <ref name="media.source"/>
      <zeroOrMore>
        <ref name="track.elem"/>
      </zeroOrMore>
      <ref name="common.inner.phrasing"/>
    </group>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="audio.elem.flow"/>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="audio.elem.phrasing"/>
  </define>
  <define name="track.elem">
    <a:documentation>supplementary media track: &lt;track&gt;</a:documentation>
    <element>
      <name ns="">track</name>
      <interleave>
        <ref name="track.inner"/>
        <ref name="track.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="track.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="track.attrs.kind"/>
      </optional>
      <ref name="track.attrs.src"/>
      <optional>
        <ref name="track.attrs.srclang"/>
      </optional>
      <optional>
        <ref name="track.attrs.label"/>
      </optional>
      <optional>
        <ref name="track.attrs.default"/>
      </optional>
    </interleave>
  </define>
  <define name="track.attrs.kind">
    <attribute>
      <name ns="">kind</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">subtitles</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">captions</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">descriptions</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">chapters</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">metadata</value>
      </choice>
    </attribute>
  </define>
  <define name="track.attrs.src">
    <attribute>
      <name ns="">src</name>
      <ref name="common.data.uri.non-empty"/>
    </attribute>
  </define>
  <define name="track.attrs.srclang">
    <attribute>
      <name ns="">srclang</name>
      <ref name="common.data.langcode"/>
    </attribute>
  </define>
  <define name="track.attrs.label">
    <attribute>
      <name ns="">label</name>
      <data type="string" datatypeLibrary=""/>
    </attribute>
  </define>
  <define name="track.attrs.default">
    <attribute>
      <name ns="">default</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">default</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft"></value>
      </choice>
    </attribute>
  </define>
  <define name="track.inner">
    <empty/>
  </define>
  <define name="figure.elem">
    <a:documentation>Captioned Content: &lt;figure&gt;</a:documentation>
    <element>
      <name ns="">figure</name>
      <interleave>
        <ref name="figure.inner"/>
        <ref name="figure.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="figure.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.figure"/>
          <optional>
            <ref name="common.attrs.aria"/>
          </optional>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="figure.inner">
    <choice>
      <group>
        <optional>
          <ref name="figcaption.elem"/>
        </optional>
        <ref name="common.inner.flow"/>
      </group>
      <group>
        <ref name="common.inner.flow"/>
        <optional>
          <ref name="figcaption.elem"/>
        </optional>
      </group>
    </choice>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="figure.elem"/>
  </define>
  <define name="figcaption.elem">
    <a:documentation>Figure caption: &lt;figcaption&gt;</a:documentation>
    <element>
      <name ns="">figcaption</name>
      <interleave>
        <ref name="figcaption.inner"/>
        <ref name="figcaption.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="figcaption.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.role.presentation"/>
          <ref name="common.attrs.aria.role.group"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="figcaption.inner">
    <ref name="common.inner.flow"/>
  </define>
</grammar>