src/genro_bag/builders/schemas/html5/ruby.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:local="">
  <define name="ruby.elem">
    <a:documentation> RELAX NG Schema for HTML 5: Ruby                                  #

Ruby Annotation: &lt;ruby&gt;</a:documentation>
    <element>
      <name ns="">ruby</name>
      <interleave>
        <ref name="ruby.inner"/>
        <ref name="ruby.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="ruby.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="ruby.inner">
    <oneOrMore>
      <group>
        <oneOrMore>
          <ref name="common.inner.phrasing"/>
        </oneOrMore>
        <choice>
          <oneOrMore>
            <ref name="rt.elem"/>
          </oneOrMore>
          <group>
            <ref name="rp.elem"/>
            <oneOrMore>
              <group>
                <ref name="rt.elem"/>
                <ref name="rp.elem"/>
              </group>
            </oneOrMore>
          </group>
        </choice>
      </group>
    </oneOrMore>
  </define>
  <define name="common.elem.phrasing" combine="choice">
    <ref name="ruby.elem"/>
  </define>
  <define name="rt.elem">
    <a:documentation>Ruby Text: &lt;rt&gt;</a:documentation>
    <element>
      <name ns="">rt</name>
      <interleave>
        <ref name="rt.inner"/>
        <ref name="rt.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="rt.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="rt.inner">
    <ref name="common.inner.phrasing"/>
  </define>
  <define name="rp.elem">
    <a:documentation>Ruby Parenthesis: &lt;rp&gt;</a:documentation>
    <element>
      <name ns="">rp</name>
      <interleave>
        <ref name="rp.inner"/>
        <ref name="rp.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="rp.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="common.attrs.aria"/>
      </optional>
    </interleave>
  </define>
  <define name="rp.inner">
    <text/>
  </define>
</grammar>