src/genro_bag/builders/schemas/html5/tables.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="tables.attrs.alignment">
    <a:documentation> RELAX NG Schema for HTML 5: Tables                                #
Table Envelope
Table Datatypes
Table Alignment Attributes</a:documentation>
    <interleave>
      <optional>
        <ref name="tables.attrs.align"/>
      </optional>
      <optional>
        <ref name="tables.attrs.char"/>
      </optional>
      <optional>
        <ref name="tables.attrs.valign"/>
      </optional>
    </interleave>
  </define>
  <define name="tables.attrs.align">
    <attribute>
      <name ns="">align</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">left</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">center</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">right</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">justify</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">char</value>
      </choice>
    </attribute>
  </define>
  <define name="tables.attrs.char">
    <attribute>
      <name ns="">char</name>
      <data type="string">
        <param name="pattern">.</param>
      </data>
    </attribute>
  </define>
  <define name="tables.attrs.valign">
    <attribute>
      <name ns="">valign</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">top</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">middle</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">bottom</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">baseline</value>
      </choice>
    </attribute>
  </define>
  <define name="table.elem">
    <a:documentation>Data Table: &lt;table&gt;</a:documentation>
    <element>
      <name ns="">table</name>
      <interleave>
        <ref name="table.inner"/>
        <ref name="table.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="table.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.table"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="table.inner">
    <group>
      <optional>
        <ref name="caption.elem"/>
      </optional>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="colgroup.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
      <optional>
        <ref name="thead.elem"/>
      </optional>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
      <group>
        <choice>
          <zeroOrMore>
            <ref name="tbody.elem"/>
          </zeroOrMore>
          <oneOrMore>
            <ref name="tr.elem"/>
          </oneOrMore>
        </choice>
        <zeroOrMore>
          <ref name="common.elem.script-supporting"/>
        </zeroOrMore>
        <optional>
          <ref name="tfoot.elem"/>
        </optional>
      </group>
    </group>
  </define>
  <define name="common.elem.flow" combine="choice">
    <ref name="table.elem"/>
  </define>
  <define name="caption.elem">
    <a:documentation>Table Caption: &lt;caption&gt;</a:documentation>
    <element>
      <name ns="">caption</name>
      <interleave>
        <ref name="caption.inner"/>
        <ref name="caption.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="caption.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="caption.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="colgroup.elem">
    <a:documentation>Table Super Structure
Table Column Group: &lt;colgroup&gt;</a:documentation>
    <element>
      <name ns="">colgroup</name>
      <interleave>
        <ref name="colgroup.inner"/>
        <ref name="colgroup.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="colgroup.attrs">
    <ref name="common.attrs"/>
  </define>
  <define name="colgroup.attrs.span">
    <attribute>
      <name ns="">span</name>
      <ref name="common.data.integer.positive"/>
    </attribute>
  </define>
  <define name="colgroup.inner">
    <choice>
      <interleave>
        <zeroOrMore>
          <ref name="col.elem"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="common.elem.script-supporting"/>
        </zeroOrMore>
      </interleave>
      <optional>
        <ref name="colgroup.attrs.span"/>
      </optional>
    </choice>
  </define>
  <define name="col.elem">
    <a:documentation>Table Column: &lt;col&gt;</a:documentation>
    <element>
      <name ns="">col</name>
      <interleave>
        <ref name="col.inner"/>
        <ref name="col.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="col.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <ref name="col.attrs.span"/>
      </optional>
    </interleave>
  </define>
  <define name="col.attrs.span">
    <attribute>
      <name ns="">span</name>
      <ref name="common.data.integer.positive"/>
    </attribute>
  </define>
  <define name="col.inner">
    <empty/>
  </define>
  <define name="thead.elem">
    <a:documentation>Table Header Row Group</a:documentation>
    <element>
      <name ns="">thead</name>
      <interleave>
        <ref name="thead.inner"/>
        <ref name="thead.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="thead.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.rowgroup"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="thead.inner">
    <interleave>
      <zeroOrMore>
        <ref name="tr.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="tfoot.elem">
    <a:documentation>Table Footer Row Group</a:documentation>
    <element>
      <name ns="">tfoot</name>
      <interleave>
        <ref name="tfoot.inner"/>
        <ref name="tfoot.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="tfoot.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.rowgroup"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="tfoot.inner">
    <interleave>
      <zeroOrMore>
        <ref name="tr.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="tbody.elem">
    <a:documentation>Table Row Group</a:documentation>
    <element>
      <name ns="">tbody</name>
      <interleave>
        <ref name="tbody.inner"/>
        <ref name="tbody.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="tbody.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.rowgroup"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="tbody.inner">
    <interleave>
      <zeroOrMore>
        <ref name="tr.elem"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="common.elem.script-supporting"/>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="tr.elem">
    <a:documentation>Cell Structure
Table Row</a:documentation>
    <element>
      <name ns="">tr</name>
      <interleave>
        <ref name="tr.inner"/>
        <ref name="tr.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="tr.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.row"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="tr.inner">
    <zeroOrMore>
      <choice>
        <ref name="td.elem"/>
        <ref name="th.elem"/>
        <ref name="common.elem.script-supporting"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="tables.attrs.cell-structure">
    <a:documentation>Common Table Cell Attributes</a:documentation>
    <interleave>
      <optional>
        <ref name="tables.attrs.colspan"/>
      </optional>
      <optional>
        <ref name="tables.attrs.rowspan"/>
      </optional>
    </interleave>
  </define>
  <define name="tables.attrs.colspan">
    <attribute>
      <name ns="">colspan</name>
      <ref name="common.data.integer.positive"/>
    </attribute>
  </define>
  <define name="tables.attrs.rowspan">
    <attribute>
      <name ns="">rowspan</name>
      <ref name="common.data.integer.non-negative"/>
    </attribute>
  </define>
  <define name="tables.attrs.access-headers">
    <optional>
      <ref name="tables.attrs.headers"/>
    </optional>
  </define>
  <define name="tables.attrs.headers">
    <attribute>
      <name ns="">headers</name>
      <ref name="common.data.idrefs"/>
    </attribute>
  </define>
  <define name="tables.attrs.define-headers">
    <optional>
      <ref name="tables.attrs.scope"/>
    </optional>
  </define>
  <define name="tables.attrs.scope">
    <attribute>
      <name ns="">scope</name>
      <choice>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">row</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">col</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">rowgroup</value>
        <value type="string" datatypeLibrary="http://whattf.org/datatype-draft">colgroup</value>
      </choice>
    </attribute>
  </define>
  <define name="tables.attrs.abbr">
    <attribute>
      <name ns="">abbr</name>
      <text/>
    </attribute>
  </define>
  <define name="td.elem">
    <a:documentation>Table Data Cell: &lt;td&gt;</a:documentation>
    <element>
      <name ns="">td</name>
      <interleave>
        <ref name="td.inner"/>
        <ref name="td.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="td.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="tables.attrs.cell-structure"/>
      <optional>
        <ref name="tables.attrs.headers"/>
      </optional>
      <optional>
        <choice>
          <ref name="common.attrs.aria.implicit.cell"/>
          <ref name="common.attrs.aria.implicit.gridcell"/>
          <ref name="common.attrs.aria"/>
        </choice>
      </optional>
    </interleave>
  </define>
  <define name="td.inner">
    <ref name="common.inner.flow"/>
  </define>
  <define name="th.elem">
    <a:documentation>Table Header Cells: &lt;th&gt;</a:documentation>
    <element>
      <name ns="">th</name>
      <interleave>
        <ref name="th.inner"/>
        <ref name="th.attrs"/>
      </interleave>
    </element>
  </define>
  <define name="th.attrs">
    <interleave>
      <ref name="common.attrs"/>
      <ref name="tables.attrs.cell-structure"/>
      <optional>
        <ref name="tables.attrs.scope"/>
      </optional>
      <optional>
        <ref name="tables.attrs.headers"/>
      </optional>
      <choice>
        <optional>
          <ref name="common.attrs.aria"/>
        </optional>
        <ref name="common.attrs.aria.implicit.column-or-row-header"/>
      </choice>
    </interleave>
  </define>
  <define name="th.inner">
    <ref name="common.inner.flow"/>
  </define>
</grammar>